<link rel='stylesheet' href='/stylesheets/{{css}}.css'/>


<section id="user-profile">

    <article id="profile">
        <img src={{img}} alt="profile-picture">
        <h2>{{userName}}</h2>
        <p>{{diet}}</p>
        <a class="edit-btn" href="/users/profileUpdate/{{id}}">edit</a>
    </article>

    <article id="guest">
        <h3>Guest list</h3>
                <a class="add-button" href="/users/guest">add new</a>
        {{#each guests}}
            <div class="guest-box">
                <h4>{{this.name}}</h4>
                {{#each this.dietaryRequirements}}
                    <p>diet : {{this}}</p>
                {{/each}}
                <a class="edit-btn" href="/users/guestUpdate/{{this.id}}">edit</a>
                <a class="delete-btn" href="/users/delete/{{this.id}}">delete</a>
            </div>
        {{/each}}
    </article>

    <article id="favRecipe-box">
        <h3>Favorite Recipes</h3>
        {{!-- <div> --}}
            {{#each favRecip}}
            <div class="fav-recip">
                <h3>{{this.title}}</h3>
                <img class="img-recip" src="{{this.image}}" alt="recipe img">
                <a href="/users/favRecipeDelete/{{this.id}}" class="delete-btn">delete</a>
            </div>
            {{/each}}
        {{!-- </div> --}}
    </article>

</section>
