<div id="recipe-card">
    <div class="main-box">
        <div class="image">
            <img class="recipe-pic" src="{{recipe.image}}" alt="recipe photo">  
        </div> 
        <div class="title">
            <h1>{{recipe.title}}</h1>

            <h3>{{recipe.readyInMinutes}} minutes</h3>


            {{!-- <h4>Suitable for: {{recipe.diets}} diets</h4> --}}
            <ul id="diets">
                {{#if recipe.vegetarian}} <li>vegetarian</li> {{/if}}
                {{#if recipe.glutenFree}} <li>gluten free</li>{{/if}}
                {{#if recipe.vegan}} <li>vegan</li> {{/if}}
                {{#if recipe.dairyFree}} <li>dairy free</li> {{/if}}
            </ul>
            <div id="dish-type"></div>
            <ul class="dishes">
                {{#each recipe.dishTypes}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div> 
    </div>
    <div class="lower-box">
        <div class="ingredients">
            <h2>Ingredients</h2>
            {{#each recipe.extendedIngredients}}
                
                    <p>{{this.amount}} {{this.unit}} {{this.name}}</p>    
                
            {{/each}}
        </div>
        <div class="instructions">
            {{#if recipe.instructions}}
            <h2>Instructions</h2>
            <p>{{{recipe.instructions}}}</p>
            {{else}}
            <h2>Summary</h2>
            <p>{{{recipe.summary}}}</p>
            {{/if}}

            
        </div>
        
    </div>
</div>