<section id="fridge-wrapper">
    <img src="/images/happy-fridge.png" alt="happy fridge">

    <div id="ingredient-search">

        <h1>What's in your fridge?</h1>
        <form method="post" action="/recipes">

            <input type="text" placeholder="ingredient 1" name="ingredient1">
            <input type="text" placeholder="ingredient 2" name="ingredient2">
            <input type="text" placeholder="ingredient 3" name="ingredient3">
            <button>OK</button>
        </form>

        <p>Number of recipes available with your fridge search: {{recipes.length}}</p>
    </div>
</section>

<section id="results-wrapper">

    <div id="dish-type-box">
        <h3>Filter by dish type:</h3>
    </div>

    <div id="recipes-wrapper">

        <h2>Click on a recipe for details</h2>

            {{#each recipes}}
            <article dish="{{this.dishTypes}}">
                <a href="/recipes/{{this.id}}">
                <img src="{{this.image}}" alt="recipe image"></a>
                <a href="/recipes/{{this.id}}">{{this.title}}</a>
            </article>
            {{/each}}

    </div>
</section>
