<section id="results-wrapper">

    <div id="dish-type-box">
        <h3>Filter by dish type:</h3>
    </div>

    <div id="recipes-wrapper">

        <h2>Click on a recipe for details</h2>

            {{#each recipes}}
            <article dish="{{this.dishTypes}}">
                <a href="/recipes/{{this.id}}">
                <img src="{{this.image}}" alt="recipe image"></a>
                <a href="/recipes/{{this.id}}">{{this.title}}</a>
                <a href="/recipes/delete/{{this.id}}">X</a>
                <a href="/users/favRecipe/{{this.id}}">Add to favourites?</a>
            </article>
            {{/each}}

    </div>
</section>
