<section id="results-wrapper">
    <div id="filter-box">
        <h3>Filter by dish type:</h3>
        <div id="dish-type-box">
        </div>
    </div>

    <div id="recipe-box">
    <h2>Click on a recipe for details</h2>
    <div id="recipes-wrapper">


            {{#each recipes}}
            <article class="recipes" dish="{{this.dishTypes}}">
                <a href="/recipes/{{this.id}}">
                <img class="photo" src="{{this.image}}" alt="recipe image"></a>
                <a href="/recipes/{{this.id}}"><h2>{{this.title}}</h2></a>
            </article>
            {{/each}}

    </div>
    </div>
</section>
